
    <main data-title = "{{title}}" class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      

      

      <h2 class="title m-5">Співробітники</h2>
      <div class="table-responsive">
        <table class="table table-bordered">
            <col width="25%" /> 
    		<col width="25%" /> 
    		<col width="25%" /> 
    		<col width="25%" /> 
    		
          <thead>
            <tr>
              <th>ФІО</th>
              <th>email</th>
              <th>Посада</th>
              <th>Статус</th>
            
            </tr>
          </thead>
          <tbody>
               <tr>
                <td><a href="#">Мирошник Людмила</a><br></td>
                <td>as@as.as</td>
                <td>Свівробітник</td>
                <td>Активний</td>
                
              </tr>
              <tr>
                <td><a href="#">Пшегалінський Євген</a><br></td>
                <td>as@as.as</td>
                <td>Співробітник</td>
                <td>Активний</td>
                
              </tr>
              <tr>
                <td><a href="#">Гуменюк Анна</a><br></td>
                <td>as@as.as</td>
                <td>Співробітник</td>
                <td>Активний</td>
                
              </tr>
          </tbody>
        </table>
      </div>
    </main>
